*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to right ,rgb(255, 217, 0) , rgb(32, 32, 32));
}


#calculator{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    height: 100vh;
    justify-content: center;
    align-content: center;
    gap: none;
    
}
#equal{
    background-color: rgb(255, 217, 0);
}
#operation{
    color:rgb(255, 217, 0);
}
button{
    background-color: rgba(39, 44, 44, 0.8);
    font-size: 1.25rem;
    cursor: pointer;
    color: white;
}
.span-two{
    grid-column: span 2;
}

header{
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .75);
    color: whitesmoke;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

#previous-operand{
    font-size: 1.5rem;
}

#current-operand{
    font-size: 2.5rem;
}
