*{
    margin: 0;
    padding: 0;
}


#calculator{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    height: 100vh;
    justify-content: center;
    align-content: center;
    border: 1px solid gray;
}
.span-two{
    grid-column: span 2;
}

header{
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .75);
    color: whitesmoke;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

